html
{
	height: 100%;
}
body
{
	background-image: url('logo.jpg');
	  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
	overflow-x: hidden;
}	
#sddm
{	
	margin: 0;
	padding: 0;
	z-index: 30;
}

#logo{ 
	position: absolute;
	top: 0px;
	right: 0px;
	width:100%;
	

}
#sddm li
{	
	margin: 0;
	padding: 0;	
	display: block;
	box-sizing: border-box;
	list-style: none;
	float: left;
	font: bold 1em arial;
	width: 25%;
	
}
.footer
{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: center;
}
#sddm li a
{	
	display: block;
	margin: 0 1px 0 0;
	padding: 10px 4px;
	color: black;
	text-align: center;
	text-decoration: none;
}



#sddm li ul li a:hover
{	
	text-shadow: 2px 2px 4px gray; 
	color: black;
}

#sddm ul 
{	
	position: absolute;
	visibility: hidden;
	margin: 0;
	width: 100%;
	padding: 0;
}

	#sddm ul li a
	{	
		position: relative;
		display: block;
		margin: 0;
		padding: 10px 4px;
		width: auto;
		white-space: nowrap;
		text-align: center;
		text-decoration: none;
		font: 1em arial;
	}



#assign3 
{
	background-image: url('back (2).jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
}