#sddm
{	
	margin: 0;
	padding: 0;
	z-index: 30
}

#sddm li
{	
	margin: 0;
	padding: 0;
	background:#EAEBD8;	
	display: block;
	list-style: none;
	float: left;
	font: bold 14px arial;
	width:25%
}

#sddm li a
{	
	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	color: black;
	text-align: center;
	text-decoration: none;
	border: 1px solid #5970B2
}

#sddm li a:hover
{	
	background: black;
	color: white
}


#sddm ul 
{	
	position: absolute;
	visibility: hidden;
	margin: 0;
	width: 98%;
	padding: 0;
}

	#sddm ul li a
	{	
		position: relative;
		display: block;
		margin: 0;
		width: auto;
		background:#EAEBD8;
		white-space: nowrap;
		text-align: center;
		text-decoration: none;
		color: black;
		font: 14px arial;
		border: 1px solid #5970B2
	}
	
	#sddm ul li a:hover
	{	
		background: black;
		color: white;
	}