html
{
	height: 100%;
	background: linear-gradient(to top, #F7E9D4  0%, #FB9902 100%);
}
#sddm
{	
	margin: 0;
	padding: 0;
	z-index: 30;
}

#sddm li
{	
	margin: 0;
	padding: 0;	
	display: block;
	list-style: none;
	float: left;
	font: bold 25px arial;
	width:25%;
	
}

#sddm li a
{	
	display: block;
	margin: 0 1px 0 0;	
	text-shadow: 1px 1px 2px #1440B8;
	color: #F7E9D4;
	text-align: center;
	text-decoration: none;
}

#sddm li a:hover
{	
	text-shadow: 2px 2px 4px #1440B8; 
	color: #0247FE;
}


#sddm ul 
{	
	position: absolute;
	visibility: hidden;
	margin: 0;
	width: 100%;
	padding: 0;
}

	#sddm ul li a
	{	
		position: relative;
		display: block;
		margin: 0;
		padding: 10px 4px;
		width: auto;
		white-space: nowrap;
		text-align: center;
		text-decoration: none;
		font: 18.5px arial;
	}
	